// Navigation code here

.nav-header{
    width:900px;
    height:100px;
    margin:0px auto;
	
	background-color:@nav-bg;
	.center(center, flex-end);
    flex-direction:column;
    
    h1{
        font-size:4rem;
    }

	nav{

		display:flex;
		flex-wrap:nowrap;

		a{
			text-decoration:none;
            margin:10px 20px;
            color:black;
            font-size:1.7rem;
    
		}
	}
}