// Navigation code here

.nav-header{
	
	background-color:lightgray;
	.center();
	flex-direction:column;

	nav{
		
		display:flex;
		flex-wrap:nowrap;

		a{
			text-decoration:none;
			margin:20px;
		}
	}
}